body {
  font face:        Times New Roman;
  font-size:        22;
  background-color: tan;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  padding:          10px 10px 10px 10px;
}
a {
  text-decoration:  none; 
  font-weight:      400; 
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h1 {
  font-size:        120%;
  padding:          2px;
  text-align:       center;
  margin-top:       2%;
  margin-bottom:    2%;
  margin-left:      5%;
  margin-right:     5%;
}
h2
{
font-size:        100%;
margin-top:       3%;
margin-bottom:    3%;
margin-left:    auto;
margin-right:   auto;
  }

/***Login***/


div.login-button
{
   font-size:      90%;
	width:          300px;
	height:         100px; 
	text-align:     center;
	background-color: #CD853F;
	margin-left:    auto;
	margin-right:   auto;
	margin-top:   10px;
	margin-bottom:   3px;
}


input, .user, .password
{
font-size:          90%;
background-color:   #FDF5E6;
border:             2px solid #CD853F;
color:              #000;
border-collapse:    collapse;
width:          300px;
height:         100px; 
text-align:     center;
margin-left:    auto;
margin-right:   auto;
margin-top:     0px;}


.submit
{
font-size:          100%;
font-weight:         bold;
border:             1px solid #909090;
color:              #000;
border-collapse:    collapse;
width:          300px;
height:         50px; 
text-align:     center;
margin-top:     2px;
margin-left:    auto;
margin-right:   auto;
}

/*** Tables ***/

table
{
font-size:          100%;
background-color:   #FDF5E6;
border:             1px solid #909090;
color:              #000;
padding:            5px 5px 2px;
border-collapse:    collapse;
width:          500px;
text-align:         left;
}

table, th, td, th
{
border:             thin dotted gray;
}

/***Menu***/
id[type=menu], ul, ul li {
	
	display:          block;
	list-style:       none;
	margin:            0;
	padding:           0;
	font-size:        100%;
	font-weight:         bold;
}

id[type=menu], ul li {
	float: left;
}

id[type=menu], ul a:link, ul a:visited {
	display: block;
	width: 200px;
	height: 32px; 
	text-align: center;
	background-color: #CD853F;
	color: #000;
	border: 2px outset #CD853F;
	padding: 5px;
}

id[type=menu], ul a:hover {
	border-style: inset;
	padding: 7px 3px 3px 7px;
}

/***zgloszenie***/

/* The container */
.container {
	background-color: tan;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #FDF5E6;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #CD853F;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 3px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: black;
}



