<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/hf.css" />
    </head>
    <body>
        {% block body %}
<ul id="navigation">
      <li><a href="{{url_for('login')}}">Login</a></li>
      <li><a href="{{url_for('zgloszenie')}}">Zgłoszenie</a></li>
      <li><a href="{{url_for('viewlog')}}">Zestawienie zgłoszeń</a></li>
</ul>
        {% endblock %}
    </body>
</html>
