<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends 'base.html' %}

{% block body %}
<head>
	<meta charset="utf-8">
</head>
<body>
 <ul id="navigation">
      <li><a href="{{url_for('home')}}">Zaloguj</a></li>
</ul>
<br>
<h1>{{ the_title }}</h1>
</body>
{% endblock %}