<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 <head>
	<meta charset="utf-8">
</head>
 <body>
<form action="/login" method="POST">
<h1>{{the_title}}</h1>
	<div class="login">
		<h1>Login</h1>
			<div class="user">
			<input type="text" class="login-field" value="" placeholder="username" name="username">
			<label class="login-field-icon fui-user" for="login-name"></label>
			</div>
			<br>
			<div class="password">
			<input type="password" class="login-field" value="" placeholder="password" name="password">
			<label class="login-field-icon fui-lock" for="login-pass"></label>
			</div>
			<div class="login-button">
            <input type="submit" value="Log in" >
			</div>
	</div>
</form>
 </body>
{% endif %}
{% endblock %}