{% extends "header.html" %}
{% block body %}
<head>
	<meta charset="utf-8">
</head>
 <ul id="navigation">
      <li><a href="{{url_for('check_log')}}">Zaloguj</a></li>
</ul>
<body>
<h1>Jesteś wylogowany<h1>
</body>
{% endblock %}