<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends 'base.html' %}

{% block body %}
<head>
	<meta charset="utf-8">
</head>
<body>
 <ul id="navigation">
      <li><a href="{{url_for('add_event')}}">Nowe zgłoszenie</a></li>
      <li><a href="{{url_for('view_the_log')}}">Zestawienie zgłoszeń</a></li>
      <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
</ul>
<br>
<h1>{{ the_title }} </h1>

<p>Podałeś następujące dane:</p>
<table class="my_table">
<tr><td>Komórka:</td><td>{{ the_komorka }} </td></tr>
<tr><td>Rodzaj zdarzenia:</td><td>{{ the_rodzaj }} </td></tr>
<tr><td>Opis sytuacji:</td><td>{{ the_zdarzenie }} </td></tr>
</table>
<br />
<h2>Dziękuję za zgłoszenie</h2>
</body>
{% endblock %}