<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends 'base.html' %}

{% block body %}
<head>
	<meta charset="utf-8">
</head>
<body>
 <ul id="navigation">
      <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
	  <li><a href="{{url_for('add_event')}}">Zgłoszenie</a></li>
</ul>
<br>
<h1>{{ the_title }}</h1>
<h2>{{the_contents}}</h2>
</body>
{% endblock %}