<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends 'base.html' %}

{% block body %}
<head>
	<meta charset="utf-8">
</head>
<body>
 <ul id="navigation">
      <li><a href="{{url_for('add_event')}}">Zgłoszenie</a></li>
      <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
      <li><a href="{{url_for('print_report')}}">Drukuj raport</a></li>
</ul>
<br>
<br>
<h1>{{ the_title }}</h1>

<table>
    <tr>
        {% for row_title in the_row_titles %}
            <th>{{row_title}}</th>
        {% endfor %}
    </tr>
    {% for log_row in the_data %}
        <tr>
            {% for item in log_row %}
                <td>{{item}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
{% endblock %}
