<!-- formularz z zgłoszeniem zdarzenia-->
<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends 'base.html' %} 

{% block body %} 
<head>
	<meta charset="utf-8">
</head>
<body>
<ul id="menu">
      <li><a href="{{url_for('view_the_log')}}">Zestawienie zgłoszeń</a></li>
      <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
</ul>
<br>
<form method='POST' action='/add'>
<h1>{{the_title}}
<br /><br />

<h2>Komórka organizacyjna</h2>
<!-- wybór komórki organizacyjnej -->
<label class="container"> Klinika 1 
	<input type="radio" name="komorka" value="Klinika 1">
	<span class="checkmark"></span>
</label>
<label class="container"> Klinika 2
	<input type="radio" name="komorka" value="Klinika 2">
	<span class="checkmark"></span>
</label>
<label class="container"> Klinika 3
	<input type="radio" name="komorka" value="Klinika 3">
	<span class="checkmark"></span>
</label>
<label class="container"> Klinika 4	
	<input type="radio" name="komorka" value="Klinika 4">
	<span class="checkmark"></span>
</label>
<label class="container"> Klinika 5
	<input type="radio" name="komorka" value="Klinika 5"> 
	<span class="checkmark"></span>
</label>
<label class="container"> Klinika 6
	<input type="radio" name="komorka" value="Klinika 6">
	<span class="checkmark"></span>
</label>

<h2>Rodzaj zdarzenia</h2>
<!-- wybór rodzaju zdarzenia -->
<label class="container"> Upadki na terenie placówki
	<input type="radio" name="rodzaj" value="Upadki na terenie placówki">
	<span class="checkmark"></span>
</label>
<label class="container"> Farmakoterapia
	<input type="radio" name="rodzaj" value="Farmakoterapia">
	<span class="checkmark"></span>
</label>
<label class="container">Wyposażenie 
	<input type="radio" name="rodzaj" value="Wyposażenie">
	<span class="checkmark"></span>
</label>
<label class="container"> Samowolne oddalenie się pacjenta
	<input type="radio" name="rodzaj" value="Samowolne oddalenie się pacjenta">
	<span class="checkmark"></span>
</label>
<label class="container"> Pęknięcie żyły podczas podawania leku lub innego środka
	<input type="radio" name="rodzaj" value="Pęknięcie żyły podczas podawania leku lub innego środka" >
	<span class="checkmark"></span>
</label>
<label class="container">Samobójstwo
	<input type="radio" name="rodzaj" value="Samobójstwo" >
	<span class="checkmark"></span>
</label>
<label class="container">Inne odpowiadające definicji
	<input type="radio" name="rodzaj" value="Inne odpowiadające definicji">
	<span class="checkmark"></span>
</label>


<!-- Pole opisu sytuacji (wpisanie tekstu przez użytkownika) -->
<h2>Opis sytuacji:</h2>
<textarea name="opis_sytuacji" type='TEXT' cols="100" rows="20" wrap="virtual"></textarea>
<br />
<br><br />
<!-- Przycisk wyślij dane -->
<input type="submit" value="Wyślij formularz" class="submit"/>
<br />
<br><br />
<!-- Przycisk wyczyść dane -->
<input type="reset" value="Wyczyść dane" class="submit"/>
<br />
</div></form>
</body>
{% endblock %}